*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#f4f6f9;
}

.form-container{
    width:400px;
    background:white;
    padding:30px;
    margin:80px auto;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,0.2);
}

.form-container h2{
    text-align:center;
    margin-bottom:20px;
    color:#8b0000;
}

form input,
form select,
form textarea{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:5px;
}

form textarea{
    height:100px;
    resize:none;
}

form button{
    width:100%;
    padding:12px;
    border:none;
    background:#8b0000;
    color:white;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
}

form button:hover{
    background:#a80000;
}